ul{
   display: flex;
    list-style: none;
    justify-content: space-evenly;
    background: silver;
    margin: 0;
    padding: 0;
    height: 100px;
    align-items: center;
}
.yyy {
    background: bisque;
}
